<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar pelicula</title>
</head>
<body>
    <h1>Cambiar nombre a una pelicula</h1>
    <form method="post">
    <label for="name">Ingrese el id:</label>
    <input type="text" name="id" id="id"/>
    <label for="nombre">Ingrese el nombre:</label>
    <input type="text" name="nombre" id="nombre"/>
    <br>
    <label for="genero">Ingrese el genero:</label>
    <input type="text" name="genero" id="genero"/>
    <br>
    <label for="duracion">Ingrese su duracion:</label>
    <input type="text" name="duracion" id="duracion"/>
    <br>
    <label for="inventario">Ingrese el numero de unidades:</label>
    <input type="text" name="inventario" id="inventario"/>
    <br>
    <button>Crear pelicula</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>